@page
@model PrivacyModel
@{
    ViewData["Title"] = "Política de Privacidade";
}
<div class="container mt-5">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>Esta página detalha a política de privacidade do nosso site.</p>
    <p>Respeitamos a sua privacidade e estamos comprometidos em proteger suas informações pessoais. Esta política descreve como coletamos, usamos e protegemos suas informações.</p>
    <h2>Coleta de Informações</h2>
    <p>Coletamos informações pessoais que você nos fornece diretamente, como quando você cria uma conta, nos envia uma mensagem ou assina nossos serviços.</p>
    <h2>Uso das Informações</h2>
    <p>Usamos suas informações para fornecer e melhorar nossos serviços, comunicar com você, e personalizar sua experiência no nosso site.</p>
    <h2>Proteção de Informações</h2>
    <p>Implementamos medidas de segurança para proteger suas informações contra acesso não autorizado, alteração, divulgação ou destruição.</p>
    <p>Para mais detalhes, entre em contato conosco através do nosso email: suporte@academia.com.br</p>
</div>
